#root {
  margin: 0 auto;
  padding: 2rem;
}

@font-face {
  font-family: "Kaushan Script";
  src: url("../src/assets/fonts/kaushanscript-regular-webfont.woff2")
      format("woff2"),
    url("./src/assets/fontskaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Kaushan Script", "Courier New", Courier, monospace;
}
