#root {
  margin: 0 auto;
  padding: 2rem;

  --primary-color: #a3e635;
  --accent-color: #fef08a;
  --background-color: #160440;
}

@font-face {
  font-family: "Action Man";
  src: url("../src/assets/fonts/action_man-webfont.woff2") format("woff2"),
    url("../src/assets/fonts/action_man-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Action Man Bold";
  src: url("../src/assets/fonts/action_man_bold-webfont.woff2") format("woff2"),
    url("../src/assets/fonts/action_man_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Action Man", "Courier New", Courier, monospace;
}

h1 {
  font-family: "Action Man Bold", "Courier New", Courier, monospace;
}
